.so-badge-column-wrap {
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: var(--badge-column-bg-color, #cc4b31);
	color: var(--badge-column-color, #fef2f2);
	vertical-align: middle;
}
