.so-grid-cell-inner-colorcolumn.so-colorcolumn-nolabel {
	text-overflow: clip;
}
.so-grid-cell-inner-colorcolumn .so-colorcolumn-swatch {
	display: inline-block;
	vertical-align: middle;
    width: 15px;
    height: 15px;
}
.so-colorcolumn-swatch.so-colorcolumn-swatch-rounded {
	border-radius: 2px;
}
.so-colorcolumn-swatch.so-colorcolumn-swatch-circle {
	border-radius: 50%;
}
.so-grid-cell-inner-colorcolumn .so-colorcolumn-label {
	vertical-align: middle;
	margin-left: 5px;
}
