.so-grid-colorcolumn-swatch {
	float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.so-grid-colorcolumn-swatch-rounded {
	border-radius: 2px;
}
.so-grid-colorcolumn-swatch-circle {
	border-radius: 50%;
}
