/* Generate problems with classic 16x16 icons
.so-grid-cell-inner-iconcolumn {
    display: flex;
    align-items: center;
}
*/
.so-grid-cell-inner-iconcolumn .so-iconcolumn-icon {
	float: left;
}
.so-grid-cell-inner-iconcolumn .so-iconcolumn-text {
	margin-left: 5px;
}
