.so-grid-cell-inner-iconcolumn.so-iconcolumn-notext {
	text-overflow: clip;
}
.so-grid-cell-inner-iconcolumn .so-iconcolumn-icon {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}
.so-grid-cell-inner-iconcolumn .so-iconcolumn-text {
	margin-left: 5px;
}
