.so-boundlist-groupitem {
	border-bottom: 1px solid #b5b8c8;
	margin-bottom: 5px;
	cursor: default;
}
.so-boundlist-icon {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	background-repeat: no-repeat;
}
.so-boundlist-icon-bg {
	background-size: contain;
}
.so-boundlist-swatch {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	width: 15px;
	height: 15px;
}
.so-boundlist-swatch-rounded {
	border-radius: 2px;
}
.so-boundlist-swatch-circle {
	border-radius: 50%;
}
.so-boundlist-display {
	white-space: pre;
}
.so-boundlist-floating {
	float: left;
	white-space: pre;
}
.so-boundlist-right {
	text-align: right;
	white-space: pre;
	/*width: 100%;*/
}
.so-boundlist-groupitem .so-boundlist-display {
	font-weight: bold;
}
.so-boundlist-swatchitem .so-boundlist-display {
	padding-left: 20px;
}
.so-boundlist-item .so-boundlist-icon {
	margin-left: 0px;
}
.so-boundlist-item .so-boundlist-button {
	vertical-align: middle;
	margin-left: 5px;
	display: none;
	opacity: 0.8;
}
.so-boundlist-item.x-boundlist-item-over .so-boundlist-button {
	display: inline;
}
