.so-colorcombo input {
	padding-left: 23px;
}
.so-colorcombo-swatch-wrap {
	display: table-cell;
	position: absolute;
	height: 22px;
	margin-left: 4px;
	z-index: 10;
}
.so-colorcombo-swatch {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	width: 16px;
	height: 16px;
}
.so-colorcombo-swatch-circle {
	border-radius: 50%;
}
.so-colorcombo-list-swatch {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	width: 15px;
	height: 15px;
}
.so-colorcombo-list-swatch-circle {
	border-radius: 50%;
}
.so-colorcombo.x-combo-list-item > span {
	padding-left: 20px;
}
.so-colorcombo.x-combo-list-item > .so-colorcombo-list-swatch {
	margin-left: 0px;
}
