.so-combo-input-swatch > input {
	padding-left: 25px;
}
.so-combo-swatch-wrap {
	display: table-cell;
	position: absolute;
	height: 22px;
	margin-left: 4px;
	z-index: 10;
}
.so-combo-swatch {
	position: absolute;
	top: 2px;
	bottom: 0px;
	margin: auto;
	width: 16px;
	height: 16px;
}
.so-combo-icon {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	background-repeat: no-repeat;
}
.so-combo-icon:before {
    vertical-align: sub; /* Support centered alignment for FontAwesome icons! */
}
.so-combo-swatch-rounded {
	border-radius: 2px;
}
.so-combo-swatch-circle {
	border-radius: 50%;
}
