.so-form-displayimage-field {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-clip: padding-box;
	background-origin: padding-box;
}
