.so-form-vspacer.x-component-default {
	margin: 5px 0 0 0;
}
.so-form-vspacer.x-component-small {
	margin: 5px 0 0 0;
}
.so-form-vspacer.x-component-medium {
	margin: 10px 0 0 0;
}
.so-form-vspacer.x-component-large {
	margin: 15px 0 0 0;
}
