
.so-tilelist .x-grid-cell-first {
	cursor: pointer;
	padding: 5px 0 5px 0px;
}
.so-tilelist .x-grid-cell-last {
	vertical-align: middle;
}
.so-tilelist-caption {
	padding-bottom: 3px;
}
.so-tilelist-caption > i {
	margin-right: 4px;
}

/*
.wt-tilelist .x-grid-cell-first {
	cursor: pointer;
	padding: 5px 0 5px 0px;
}
.wt-tilelist .x-grid-cell-last {
	vertical-align: middle;
}
.wt-tilelist .wt-cell-caption {
	font-size: 0.9em;
}
*/