
.so-colorswatch-framed {
	border-width: 1px !important;
	border-color: var(--so-colorswatch-framed-border-color, #a3a3a3); /* Neutral/400 */
}
.so-colorswatch-square {
	font-size: 90%;
}
.so-colorswatch-rounded {
	border-radius: 2px;
	font-size: 90%;
}
.so-colorswatch-circle {
	font-size: 70%;
	border-radius: 50%;
}
.so-colorswatch-darkmark {
	color: var(--so-colorswatch-darkmark-color, #171717); /* Neutral/900 */
}
.so-colorswatch-lightmark {
	color: var(--so-colorswatch-lightmark-color, #fafafa); /* Neutral/50 */
}