
.so-colorswatch-framed {
	border-width: 1px !important;
    border-color: #A8A8A8;
}
.so-colorswatch-square {
	font-size: 90%;
}
.so-colorswatch-rounded {
	border-radius: 2px;
	font-size: 90%;
}
.so-colorswatch-circle {
	font-size: 70%;
	border-radius: 50%;
}
.so-colorswatch-darkmark {
	color: #6b7280;
}
.so-colorswatch-lightmark {
	color: #f9fafb;
}